.recommendation {
  position: relative;
}

.recommendation__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 45px;
  text-align: center;
  background-color: #cce9e6;

  p {
    font-size: 14px;
    font-weight: 300;
  }
}

.recommendation__author {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 1230px) {
  .recommendation__description {
    width: 100%;
    padding: 10px 35px;
  }
}

@media (max-width: 990px) {
  .recommendation__description {
    padding: 10px 10px;
  }
}

@media (max-width: 575px) {
  .accommodations__item {
    max-width: 360px;
    margin: 0 auto;
  }
}