.rights__inner {
  padding-bottom: 68px;
}

.rights__img-wrapper {
  text-align: center;
  background-image: url("../img/rights/rights-bg.jpg");
  background-position: center center;
  font-size: 0;
}

.rights__content {
  padding-right: 80px;
}

.rights__title {
  padding-bottom: 65px;
  font-family: $title-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.rights__text {
  max-width: 400px;
  font-size: 20px;
  font-weight: 400;

  b {
    display: inline-block;
    max-width: 300px;
    padding: 65px 0 22px;
    font-size: 22px;
    font-weight: 700;
  }
}

.rights__form {
  padding-bottom: 8px;
}

@media (max-width: 1230px) {
  .rights__inner {
    padding-bottom: 45px;
  }

  .rights__content {
    padding-right: 15px;
  }

  .rights__title {
    padding-bottom: 30px;
    font-size: 28px;
  }

  .rights__text {
    max-width: 100%;
    font-size: 18px;

    b {
      max-width: 100%;
      padding: 30px 0 20px;
      font-size: 20px;
    }
  }
}

@media (max-width: 990px) {
  .rights__inner {
    padding-bottom: 40px;
  }

  .rights__title {
    padding-bottom: 20px;
    font-size: 22px;
  }

  .rights__text {
    font-size: 15px;

    b {
      padding: 15px 0;
      font-size: 17px;
    }
  }

}

@media (max-width: 767px) {
  .rights__inner {
    padding-bottom: 35px;
  }

  .rights__title {
    padding-bottom: 12px;
    font-size: 18px;
  }

  .rights__text {
    b {
      padding: 10px 0;
      font-size: 15px;
    }
  }

}

@media (max-width: 575px) {
  .rights__inner {
    padding-bottom: 25px;
  }

  .rights__title {
    padding: 20px 0 10px;
    text-align: center;
  }

  .rights__text {
    text-align: center;
  }

}