.steps {
  background: url("../img/steps/steps-bg.jpg") no-repeat bottom center;
}

.steps__list {
  padding-top: 15px;
  padding-bottom: 4px;
}

.steps__item {
  padding-top: 92px;
  text-align: center;
}

.steps__img-wrapper {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    right: -144px;
    width: 64px;
    height: 24px;
    background-image: url("../img/drawn-arrow.png");
  }
}

.steps__item:nth-child(3n+3) {
  .steps__img-wrapper:after {
    content: none;
  }
}

.steps__descriptions {
  max-width: 220px;
  margin: 33px auto 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
}

.steps__link {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.69;
  color: #000000;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.steps__link::before {
  position: absolute;
  content: "";
  display: block;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  background-color: #ffaf02;
  z-index: -1;
  transition: all 0.3s linear;
}

.steps__link:hover:before, .steps__link:focus:before {
  height: 13px;

}


@media (max-width: 1230px) {
  .steps__list {
    padding: 20px 0 0;
  }

  .steps__item {
    padding-top: 50px;
  }

  .steps__img-wrapper {

    &:after {
      right: -90px;
    }
  }

  .steps__descriptions {
    margin: 20px auto 0;
    font-size: 15px;
    line-height: 1.2;
  }

  .steps__link {
    font-size: 15px;
    line-height: 1.4;
  }
}

@media (max-width: 990px) {
  .steps__list {
    padding: 10px 0 0;
  }

  .steps__item {
    padding-top: 40px;
  }

  .steps__img-wrapper {

    &:after {
      right: -70px;
    }
  }

  .steps__img {
    width: 100px;
  }

  .steps__item:nth-child(3n+3) {
    .steps__img-wrapper:after {
      content: none;
    }
  }

  .steps__descriptions {
    margin: 15px auto 0;
  }

}

@media (max-width: 767px) {
  .steps__img-wrapper {

    &:after {
      right: -100px;
    }
  }

  .steps__item:nth-child(2n+1) {
    .steps__img-wrapper:after {
      content: "";
    }
  }

  .steps__item:nth-child(2n) {
    .steps__img-wrapper:after {
      content: none;
    }
  }

  .steps__descriptions {
    margin: 15px auto 0;
  }

}

@media (max-width: 575px) {
  .steps__img-wrapper {

    &:after {
      content: none;
    }
  }

  .steps__item:nth-child(2n+1) {
    .steps__img-wrapper:after {
      content: none;
    }
  }

  .steps__descriptions {
    margin: 15px auto 0;
  }

}