.telephones__text {
   font-size: 13px;
   font-weight: 300;
 }

.telephones__number {
  font-family: $title-font;
  font-size: 17px;
  font-weight: 700;
  color: $text-color;
  transition: all 0.3s linear;

  &:hover {
    color: $hover-color;
  }
}

@media (max-width: 1230px) {
  .telephones__number {
    font-size: 16px;
  }
}

@media (max-width: 990px) {
  .telephones__text {
    display: none;
  }

  .telephones__number {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .telephones__number {
    font-size: 14px;
  }
}

