.training-stage {
  text-align: center;
}

.training-stage__number {
  font-size: 15px;
  font-weight: 300;
}

.training-stage__img {
  position: relative;
  padding: 30px 0 34px;

  &:after {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    right: -47px;
    width: 64px;
    height: 24px;
    background-image: url("../img/drawn-arrow.png");
  }
}

.training__stage:last-child {
  .training-stage__img:after {
    content: none;
  }
}

.training-stage__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
}

.training-stage__description {
  max-width: 220px;
  margin: 10px auto 0;

  p {
    padding: 4px 0 6px;
    font-size: 15px;
    font-weight: 300;
  }
}


@media (max-width: 1230px) {
  .training-stage__number {
    font-size: 14px;
  }

  .training-stage__img {
    padding: 20px 0;
  }

  .training-stage__title {
    font-size: 18px;
    line-height: 1.2;
  }

  .training-stage__description {
    margin-top: 5px;

    p {
      padding: 4px 0;
      font-size: 14px;
    }
  }

}

@media (max-width: 990px) {
  .training-stage {
    padding-bottom: 20px;
  }

  .training-stage:nth-child(2n) {
    .training-stage__img:after {
      content: none;
    }
  }

  .training-stage__title {
    font-size: 17px;
  }

  .training-stage__description {
    max-width: 260px;
    margin-top: 5px;

    p {
      padding: 4px 0;
    }
  }

}

@media (max-width: 575px) {
  .training-stage__img:after {
    content: none;
  }

  .training-stage__description {
    p {
      padding: 0;
    }
  }

}