.training {
  padding-bottom: 0;
  background-color: #d8f0f0;
  background-image: linear-gradient(-211deg, #d8f0f0 0%, #fdfde0 100%);
}

.training__subtitle {
  max-width: 540px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.23;
  text-align: center;
}

.training__stages {
  padding-top: 48px;
  padding-bottom: 100px;
}

@media (max-width: 1230px) {
  .training__subtitle {
    font-size: 20px;
    line-height: 1.22;
  }

  .training__stages {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

@media (max-width: 990px) {
  .training__subtitle {
    font-size: 18px;
    line-height: 1.2;
  }

  .training__stages {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .training__subtitle {
    font-size: 16px;
  }

  .training__stages {
    padding-bottom: 15px;
  }

}